<nav class="bg-gray-800 text-white shadow-lg">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-20">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <img src="/assets/logo.png" class="h-16 w-16" alt="Logo">
        </div>
        <div class="ml-10 flex items-baseline space-x-4">
          <a [routerLink]="['/']" class="px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">Home</a>
          <a [routerLink]="['/mydecks']" class="px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">My Decks</a>
          <a [routerLink]="['/allpokemons']" class="px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">All Pokémons</a>
        </div>
      </div>
    </div>
  </div>
</nav>